@model TransactionsItem
@{
    ViewData["Title"] = "New";
}

<form method="post">
    <bu class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> اضافة حركة بيع جديدة</h2>
            <hr />
        </div>
        

        <div class="mb-3">
            <label asp-for="Transaction.TransactionTypeId"> نوع الحركة</label>
            <input asp-for="Transaction.TransactionTypeId" class="form-control"></input>
            <span asp-validation-for="Transaction.TransactionTypeId" class="text-bg-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="Transaction.CustomerId"> كود العميل</label>
            <input asp-for="Transaction.CustomerId" class="form-control"></input>
            <span asp-validation-for="Transaction.CustomerId" class="text-bg-danger"></span>

        </div>
        @* <div class="mb-3">
            <label asp-for="TransactionId"> كود الحركة</label>
            <input asp-for="TransactionId" class="form-control"></input>
            <span asp-validation-for="TransactionId" class="text-bg-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="ItemId"> كود الصنف</label>
            <input asp-for="ItemId" class="form-control"></input>
            <span asp-validation-for="ItemId" class="text-bg-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="ItemPrice"> سعر الصنف </label>
            <input asp-for="ItemPrice" class="form-control"></input>
            <span asp-validation-for="ItemPrice" class="text-bg-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="ItemQuantity"> كمية الصنف</label>
            <input asp-for="ItemQuantity" class="form-control"></input>
            <span asp-validation-for="ItemQuantity" class="text-bg-danger"></span>

        </div> *@
        <button type="submit" class="btn btn-primary" style="width:150px">حفظ</button>
        <a asp-action="Index" asp-controller="TransactionsItem" class="btn btn-outline-primary" style="width-150px">
            عودة الي قائمة حركات البيع
        </a>
        <br></br>
        <div>

</form>


